@page "/announcement/{announcementId:guid}"
@inject IAnnouncementService AnnouncementService

<h3>AnnouncementDetail</h3>

@if (_announcement != null)
{
	<h2>@_announcement.Title</h2>
	<h4>@_announcement.SubTitle -- @_announcement.User.Name</h4>
	<br />

	<p>@((MarkupString)(@_announcement.HtmlText)) </p>
}
else
{
	<Empty/>
}

@code {
	[Parameter]
	public Guid AnnouncementId{ get; set; }

	private Announcement? _announcement;
	protected override async Task OnParametersSetAsync()
	{
		_announcement= await AnnouncementService.GetByIdAsync(AnnouncementId);
		await base.OnParametersSetAsync();
	}
}
